Package: com.iceNuts.tweet2weibo
Name: Photos Weibo
Depends: mobilesubstrate
Version: 2.3.4-2
Architecture: iphoneos-arm
Description: This tweak is designed for Chinese Sina Weibo. We build an easy access to uploading your photos in Apple's original MobileSlideShow.app. For more info, please see our screenshots. And we hope you guys can enjoy it very much!
Maintainer: @_iceNuts
Author: _iceNuts William Curmind
Section: Tweaks
Installed-Size: 280
