<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>alignment</key>
			<integer>0</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>帐户信息</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>0</integer>
			<key>action</key>
			<string>addAccount:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>添加帐户</string>
			<key>id</key>
			<string>addAcc</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>0</integer>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>@</string>
			<key>id</key>
			<string>AccInfo</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>0</integer>
			<key>action</key>
			<string>deleteAccount:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>删除帐户</string>
			<key>id</key>
			<string>deleteAcc</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>updateContact:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>更新@联系人</string>
			<key>id</key>
			<string>updateCont</string>
		</dict>
		<dict>
			<key>action</key>
			<string>share2weibo:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Share2Weibo</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>点击下载Share2Weibo，让您的其他应用也可以分享</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>Photo2WeiboImage</string>
			<key>label</key>
			<string>图片质量</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>图片质量设置同样适用于Share2Weibo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>Photo2WeiboSettingsHelp</string>
			<key>label</key>
			<string>帮助</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>getMore:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>更多插件</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>followUs:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>支持我们 :)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>鸣谢与技术支持:</string>
		</dict>
		<dict>
			<key>action</key>
			<string>jbguide:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>越狱指南</string>
		</dict>
		<dict>
			<key>action</key>
			<string>dgtle:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>数字尾巴</string>
		</dict>
		<dict>
			<key>action</key>
			<string>igou:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>我就爱购数码店</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Photos Weibo v2.5 © 2012 _iceNuts and William.</string>
		</dict>
	</array>
	<key>title</key>
	<string>Photos Weibo</string>
</dict>
</plist>
